{% extends "base.html" %}
{% load static %}
{% block page_title %}
    Track Finance - Add Transactions
{% endblock %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'expenses_tracker/add_transaction.css' %}">
{% endblock %}

{% block content %}
    
<header>    
    <h1>Add Transaction</h1>
</header>

<main>
    <section class="transaction-form">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                
                <div class="form-group">

                    <label>
                        <span class="element1">{{ form.category.label_tag }}</span>
                        <span class="element2">*</span>
                        {{ form.category.errors }}
                    </label>
                    
                    {{ form.category }}
                </div>
            
                <div class="form-group">

                    <label>
                        <span class="element1">{{ form.amount.label_tag }}</span>
                        <span class="element2">*</span>
                        {{ form.amount.errors }}
                    </label>
                    {{ form.amount }}
                </div>
                
                <div class="form-group">

                    <label>
                        <span class="element1">{{ form.description.label_tag }}</span>
                        <span class="element2">*</span>
                        {{ form.description.errors }}
                    </label>
                    {{ form.description }}
                </div>
                

                <div class="form-group">
                    {{ form.recurring_transaction.label_tag }}
                    {{ form.recurring_transaction }}
    
                    <div id="recurring-options" style="display: none;">
                        <label>
                            <span class="element1">{{ form.frequency.label_tag }}</span>
                            <span class="element2">*</span>
                        </label>
                        {{ form.frequency }}
                        
                        <br>
                        {{ form.transaction_title.label_tag }}
                        {{ form.transaction_title }}
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="all_transaction_budget">All Transaction Budget:</label>
                        <input type="checkbox" id="all_transaction_budget" name="all_transaction_budget" value="True">
                    </div>
                </div>
               
                <button type="submit" class="btn">Add Transaction</button>
            </form>
        </div>
    </section>
</main>
    
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var checkbox = document.getElementById('{{ form.recurring_transaction.id_for_label }}');
        var options = document.getElementById('recurring-options');

        checkbox.addEventListener('change', function () {
            options.style.display = checkbox.checked ? 'block' : 'none';
        });

        // Initial check to set the display
        options.style.display = checkbox.checked ? 'block' : 'none';
    });
</script>
    


    
    {% include "expenses_tracker/include/footer.html" %}
{% endblock %}