{% extends 'base.html' %}
{% load static %}

{% block page_title %} Track Finance - Add Income {% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'expenses_tracker/add_income.css' %}">
{% endblock %}

{% block content %}

<body>

<header>
    <h1>{{ header_name }}</h1>
</header>

<main>
    <section class="add-income-form">
        <div class="container">
            {% if update %}
            <a href="{% url 'income_delete' object %}"><button >Delete</button></a>
            {% endif %}
            <form  method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <span class="element1">{{ form.category.label_tag }}</span>
                    <span class="element2">*</span>
                    {{ form.category.errors }}
                    {{ form.category }}
                    
                    <span class="element1">{{ form.amount.label_tag }}</span>
                    <span class="element2">*</span>
                    {{ form.amount.errors }}
                    {{ form.amount }}
                    
                    <span class="element1">{{ form.notes.label_tag }}</span>
                    <span class="element2">*</span>
                    {{ form.notes.errors }}
                    {{ form.notes }}
                    
                    <div class="form-group">
                        {{ form.recurring_transaction.label_tag }}
                        {{ form.recurring_transaction }}
        
                        <div id="recurring-options" style="display: none;">
                            {% if update and update_frequency %}
                            <label>
                                <span class="element1">{{ form.frequency.label_tag }}</span>
                                <span class="element2">*</span>
                                <span class="unclickable">{{ form.frequency }}</span>
                            </label>
                                
                            {% else %}
                                <label>
                                    <span class="element1">{{ form.frequency.label_tag }}</span>
                                    <span class="element2">*</span>
                                </label>
                                {{ form.frequency }}
                            {% endif %}
                            
                            <br>
                            {{ form.transaction_title.label_tag }}
                            {{ form.transaction_title }}
                        </div>
                    </div>
                    
                    <br>
                    <button type="submit">{{ header_name }}</button>
                </div>
            </form>
        </div>
    </section>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var checkbox = document.getElementById('{{ form.recurring_transaction.id_for_label }}');
        var options = document.getElementById('recurring-options');

        checkbox.addEventListener('change', function () {
            options.style.display = checkbox.checked ? 'block' : 'none';
        });

        // Initial check to set the display
        options.style.display = checkbox.checked ? 'block' : 'none';
    });
</script>
{% include "expenses_tracker/include/footer.html" %}

</body>
{% endblock %}
