{% extends "base.html" %}
{% load static %}
{% block page_title %}
    Track Finance - Add Transactions
{% endblock %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'expenses_tracker/add_transaction.css' %}">
{% endblock %}

{% block content %}
    
<header>    
    <h1>{{ header_name }}</h1>
</header>

<main>
    <section class="transaction-form">
        <div class="container">
            {% if update %}
                <a href="{% url 'transaction_delete' object %}"><button >Delete</button></a>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                
                <div class="form-group">

                    <label>
                        <span class="element1">{{ form.category.label_tag }}</span>
                        <span class="element2">*</span>
                        {{ form.category.errors }}
                    </label>
                    
                    {{ form.category }}
                </div>
            
                <div class="form-group">

                    <label>
                        <span class="element1">{{ form.amount.label_tag }}</span>
                        <span class="element2">*</span>
                        {{ form.amount.errors }}
                    </label>
                    {{ form.amount }}
                </div>
                
                <div class="form-group">

                    <label>
                        <span class="element1">{{ form.description.label_tag }}</span>
                        <span class="element2">*</span>
                        {{ form.description.errors }}
                    </label>
                    {{ form.description }}
                </div>
                

                <div class="form-group">
                
                    {{ form.recurring_transaction.label_tag }}
                    {{ form.recurring_transaction }}
                    
                    
                    <div id="recurring-options" style="display: none;">
                        {% if update %}
                            <label>
                                <span class="element1">{{ form.frequency.label_tag }}</span>
                                <span class="element2">*</span>
                                <span class="unclickable">{{ form.frequency }}</span>
                            </label>
                                
                        {% else %}
                            <label>
                                <span class="element1">{{ form.frequency.label_tag }}</span>
                                <span class="element2">*</span>
                            </label>
                            {{ form.frequency }}
                        {% endif %}
                        
                        <br>
                        {{ form.transaction_title.label_tag }}
                        {{ form.transaction_title }}
                        
                    </div>
                    
                    <div class="form-group" style="margin-top: 10px">
                        {% if update %}
                            <label for="id_is_all_trans_bud" class="unclickable">All Transaction Budget:</label>
                            <span class="unclickable">{{ form.is_all_trans_bud }}</span>
                        {% else %}
                            <label for="id_is_all_trans_bud">All Transaction Budget:</label>
                            {{ form.is_all_trans_bud }}
                        {% endif %}
                    </div>
                </div>
               
                <button type="submit" class="btn">Add Transaction</button>
            </form>
        </div>
    </section>
</main>
    
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var checkbox = document.getElementById('{{ form.recurring_transaction.id_for_label }}');
        var options = document.getElementById('recurring-options');

        checkbox.addEventListener('change', function () {
            options.style.display = checkbox.checked ? 'block' : 'none';
        });

        // Initial check to set the display
        options.style.display = checkbox.checked ? 'block' : 'none';
    });
</script>
    


    
    {% include "expenses_tracker/include/footer.html" %}
{% endblock %}