{% extends 'base.html' %}
{% load static %}

{% block page_title %} Track Finance - Add Income {% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'expenses_tracker/add_income.css' %}">
{% endblock %}

{% block content %}

<body>

<header>
    <h1>Add Income</h1>
</header>

<main>
    <section class="add-income-form">
        <div class="container">
            <form action="{% url 'add_income_page' %}" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <span class="element1">{{ form.source.label_tag }}</span>
                    <span class="element2">*</span>
                    {{ form.source.errors }}
                    {{ form.source }}
                    
                    <span class="element1">{{ form.amount.label_tag }}</span>
                    <span class="element2">*</span>
                    {{ form.amount.errors }}
                    {{ form.amount }}
                    
                    <span class="element1">{{ form.notes.label_tag }}</span>
                    <span class="element2">*</span>
                    {{ form.notes.errors }}
                    {{ form.notes }}
                    
                    <button type="submit">Add Income</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% include "expenses_tracker/include/footer.html" %}

</body>
{% endblock %}
