{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Track Finance - All Transactions
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'expenses_tracker/all_transactions.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>All Transactions</h1>
    </header>
    
    <main>
        <section class="transaction-list">
            <div class="container">
                <ul>
                    {% for field in transactions %}
                    <li class="list_display">
                        <div class="transaction-info">
                            <h2>{{ field.category|title }}</h2>
                            <hr>
                            <p><strong>{{ user_currency }}{{ field.amount|floatformat:"2g" }}</strong></p>
                            <hr>
                            <span>Desc: <em>{{ field.description }}</em></span>
                        </div>
                        <div class="transaction-date">
                            <div class="delete-button">
                                <form method="POST" action="{% url 'all_transactions_page' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="all_transaction_id" value="{{ field.id }}">
                                    <button type="submit"><img src="{% static 'expenses_tracker/images/delete-189.png' %}" alt="Delete"></button>
                                </form>
                            </div>
                            <div class="date-info">
                                {% if date_now > field.date.date %}
                                    <p>{{ field.date|date:"D, d M Y | H:i:s" }}</p>
                                {% else %}
                                    <p>{{ field.date|timesince }} ago</p>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <aside class="sidebar2">
        <div class="filter-section">
            <div class="filter_header">
                <h2>Filter & Order</h2>
            </div>
            <!-- Add filtering and ordering options here -->
            <form method="post" action="{% url 'all_transactions_page' %}">
                {% csrf_token %}
                <div class="filter-options">
                    <label for="filter_category">Category:</label>
                    <select id="filter_category" name="filter_category">
{#                        <option value="" selected="">---------</option>#}
                        {% for field, value in transaction_category.items %}
                            <option value="{{ field }}">{{ field }}</option>
                        {% endfor %}
{#                        <option value="Food">Food</option>#}
{#                        <option value="utilities">Utilities</option>#}
{#                        <option value="entertainment">Entertainment</option>#}
                    </select>
                </div>
                <div class="order-options">
                    <label for="order_by">Order By:</label>
                    <select id="order_by" name="order_by">
                        <option value="date">Date</option>
                        <option value="amount">Amount</option>
{#                        <option value="category">Category</option>#}
                    </select>
                    <label for="sort_order">Sort Order:</label>
                    <select id="sort_order" name="sort_order">
                        <option value="ascending">Ascending</option>
                        <option value="descending">Descending</option>
                    </select>
                </div>
                <button class="filter_button" type="submit">Apply Filters</button>
            
                <br>
                <a class="reset" href="{% url 'all_transactions_page' %}">Reset</a>
            </form>    
            
        </div>
    </aside>
    </main>
    
    {% include "expenses_tracker/include/footer.html" %}
    
{% endblock %}