{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Track Finance - All Transactions
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'expenses_tracker/income_data.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>All Transactions</h1>
    </header>
    
    <form class="search-form" action="{% url 'all_transactions_page' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="search" id="search" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    
    <main>
        <section class="income-list">
            <div class="container">
            {% if search_query %}
            <em>Showing search results for {{ search_query|title }} ...</em>
            {% endif %}
            {% if transactions  %}
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Income data will be dynamically populated here -->
                        {% for field in transactions %}
                        <tr>
                            {% if field.date.date < thirty_days_earlier.date %}
                                <td>{{ field.date.date }}</td>
                            {% else %}
                                <td>{{ field.date|timesince }} ago</td>
                            {% endif %}
                            <td>{{ field.category }}</td>
                            <td>{{ user_currency }}{{ field.amount|floatformat:"2g" }}</td>
                            <td>{{ field.description }}</td>
                            <td>
                                <form method="POST" action="{% url 'all_transactions_page' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="all_transaction_id" value="{{ field.id }}">
                                    <button type="submit">delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody> 
                
                    {% if total_trans_queried_amount %}
                    <tbody>
                        <tr>
                            <th colspan="2" scope="row">
                                <h4 style="margin: 5px; padding: 5px; text-align: center; color: gold">TOTAL</h4>
                            </th>
                            <th>
                                <h4 style="margin: 3px; padding: 3px; color: gold; text-align: center;">{{ user_currency }}{{ total_trans_queried_amount|floatformat:"2g" }}</h4>
                            </th>
                        </tr>
                    </tbody>
                    {% endif %}
                </table>
            {% else %}
            <li style="margin: 30px">
                <div class="notification-content">
                    <p class="notification-text" style="margin: 10px; text-align: center">There are no transactions to display at the moment. Please add transaction data and check back later. Thank you.</p>
                </div>
            </li>
            {% endif %}
            </div>
        </section>
        <form method="post" action="{% url 'all_transactions_page' %}">
            {% include "expenses_tracker/include/right_sidebar.html" with url='all_transactions_page'%}
        </form>
    </main>
    
    {% include "expenses_tracker/include/footer.html" %}
    
{% endblock %}