{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Track Finance - budget-overview
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'expenses_tracker/budget-overview.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>Budget Overview</h1>
    </header>
    
        <main>
            <section class="transaction-list">
            <div class="container">
                <ul>
                    {% for field in budget %}
                    <li class="list_display">
                        <div class="transaction-info">
                            <h2>{{ field.category|title }}</h2>
                            <hr>
                            <p>Budget: <strong>{{ user_currency }}{{ field.budget|floatformat:"2g" }}</strong></p>
                            {% if field.spent > 0 %}
                                <p>Spent: <strong>{{ user_currency }}{{ field.spent|floatformat:"2g" }}</strong></p>
                            {% endif %}
                            <p>Remaining: <strong>{{ user_currency }}{{ field.amount|floatformat:"2g" }}</strong></p>
                            <hr>
                            {% if field.description %}
                                <p id="desc"> Desc: <em>{{ field.description }}</em></p>
                            {% endif %}
                        </div>
                        
                        <div class="transaction-date">
                            <div class="delete-button">
                                <form method="POST" action="{% url 'budget-overview_page' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="budget_overview_id" value="{{ field.id }}">
                                    <button type="submit"><img src="{% static 'expenses_tracker/images/delete-189.png' %}" alt="Delete"></button>
                                </form>
                            </div>
                            <div class="date-info">
                                {% if field.expiration_date.date > thirty_days_later.date %}
                                    <p> Expiration Date: {{ field.expiration_date.date }}</p>
                                {% else %}
                                    <p>Expiring in: {{ field.expiration_date|timeuntil }}</p>
                                {% endif %}
                            </div>
                        </div>
                        
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <form method="post" action="{% url 'budget-overview_page' %}">
            {% include "expenses_tracker/include/right_sidebar.html" with url='budget-overview_page' %}
        </form>
        </main>
    
    {% include "expenses_tracker/include/footer.html" %}
{% endblock %}