{% extends "base.html" %}

{% load static %}

{% block page_title %}
    Track Finance - Contact Us
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'expenses_tracker/contact_us.css' %}">	
{% endblock %}

{% block content %}
	
    <header>
        <h1>Contact Us</h1>
    </header>

    <main>
        <section class="contact-form">
            <form action="{% url 'contact_us_page' %}" method="post">
                {% csrf_token %}
                {% if is_message_sent %}
                    <p style="color: red"><strong>MESSAGE SUCCESSFULLY SENT</strong></p>
                {% else %}
                    <p>Want to get in touch?
                        Fill out the form below to send me a message, 
                        and I will get back to you as soon as possible!</p>
                {% endif %}
                <hr>
            
                {{ form.name.label_tag }}
                {{ form.name.errors }}
                {{ form.name }}
            
                {{ form.email.label_tag }}
                {{ form.email.errors }}
                {{ form.email }}
            
                {{ form.phone.label_tag }}
                {{ form.phone.errors }}
                {{ form.phone }}
            
                {{ form.message.label_tag }}
                {{ form.message.errors }}
                {{ form.message }}

                <button type="submit">Send</button>
            </form>
        </section>
    </main>
    
    <footer>
    <div class="footer-links">
        <a href="{% url 'privacy_policy_page' %}">Privacy Policy</a>
        <a href="{% url 'terms_of_service_page' %}">Terms of Service</a>
    </div>
    <p>&copy; {{ current_year }} Mitchel Ani. All rights reserved.</p>
</footer>
    
{% endblock %}