{% extends "base.html" %}
{% load static %}

{% block page_title %} 
    Track Finance - Income Report Form
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'expenses_tracker/expenses_report_form.css' %}">
{% endblock %}

{% block content %}
    
    <header>
        <h1>Income Report Form</h1>
    </header>
    
    {% include "expenses_tracker/include/expenses_income_include.html" with url='income_report_form_page' %}

{% include "expenses_tracker/include/footer.html" %}

{% endblock %}