{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'expenses_tracker/login.css' %}">
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'expenses_tracker/images/39050859.jpg' %}"
    />
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Login / Sign In</h1>
    </header>

    <main>
        <div class="container">
            <div class="form-container">
                <form class="login-form" method="post" action="{% url 'login_page' %}">
                    {% csrf_token %}

                    <div class="{% if error_message  %} error {% endif %}" > 
                        {% if error_message %}
                            {{ error_message }}
                        {% endif %}
                    </div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username or email" required>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>

                    <button type="submit">Login</button>
                    <hr>
                    <p><a href="{% url 'register_page' %}">Don't have an account?</a></p>
                </form>
            </div>
        </div>
    </main>

    {% include "expenses_tracker/include/footer.html" %}
</body>
</html>
