{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'expenses_tracker/login.css' %}">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Login / Sign In</h1>
    </header>

    <main>
        <div class="container">
            <div class="form-container">
                <form class="login-form">
                    {% csrf_token %}
                    <form class="login-form">
                    <label for="usernameOrEmail">Username or Email:</label>
                    <input type="text" id="usernameOrEmail" name="usernameOrEmail" placeholder="Enter your username or email" required>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>

                    <button type="submit">Login</button>
                    <hr>
                    <p><a href="{% url 'register_page' %}">Don't have an account?</a></p>
                </form>
            </div>
        </div>
    </main>

    {% include "expenses_tracker/include/footer.html" %}
</body>
</html>
