{% extends "base.html" %}

{% load static %}

{% block page_title %}
    Track Finance - Notifications
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'expenses_tracker/notification.css' %}">
{% endblock %}

{% block content %}
    
    <header>
        <h1>Notifications</h1>
    </header>

    <main>
        <div class="container">
            <ul class="notification-list">
            {% if  transactions_instances_next_24_hours or budgets_instances_next_24_hours or incomes_instances_next_24_hours %}
                
                {% if transactions_instances_next_24_hours %}
                <h1 style="margin: 10px">TRANSACTION</h1>
                {% endif %}
                {% for field in transactions_instances_next_24_hours %}
                <li>
                    <div class="notification-content">
                        <p class="notification-text">New Transaction Scheduled: {{ field.category }} - Amount: {{ user_currency }}{{ field.amount|floatformat:"2g" }} - Please Review  </p>
                        <hr>
                        <p class="notification-text">Reoccurring in the next - {{ field.next_occurrence|timeuntil }} from now! </p>
                        <hr>
                        <span class="notification-time"><em style="color: #007bff">Avoiding this action? Remove the corresponding transaction by clicking <a href="{% url 'recurring_transactions_page' %}">here</a></em>. </span>
                    </div>
                </li>
                {% endfor %}
                
                {% if incomes_instances_next_24_hours %}
                <h1 style="text-align: center; margin: 10px">INCOME</h1>
                {% endif %}
                
                {% for field in incomes_instances_next_24_hours %}
                <li>
                    <div class="notification-content">
                        <p class="notification-text">New Income Scheduled: {{ field.category|title }} - Amount: {{ user_currency }}{{ field.amount|floatformat:"2g" }} - Please Review  </p>
                        <hr>
                        <p class="notification-text">Reoccurring in the next - {{ field.next_occurrence|timeuntil }} from now! </p>
                        <hr>
                        <span class="notification-time"><em style="color: #007bff">Avoiding this action? Remove the corresponding income by clicking <a href="{% url 'recurring_income_page' %}">here</a></em>. </span>
                    </div>
                </li>
                {% endfor %}
                
                {% if budgets_instances_next_24_hours %}
                <h1 style="text-align: right; margin: 10px">BUDGET</h1>
                {% endif %}
                
                {% for field in budgets_instances_next_24_hours %}
                <li>
                    <div class="notification-content">
                        <p class="notification-text">Your budget : {{ field.category }} - Budget: {{ user_currency }}{{ field.budget|floatformat:"2g" }}, is expiring soon</p>
                        <hr>
                        <p class="notification-text">Expiring in the next - {{ field.expiration_date|timeuntil }} from now! </p>
                        <hr>
                        <span class="notification-time"><em style="color: #007bff">Take action now to review it <a href="{% url 'budget-overview_page' %}">here</a></em>. </span>
                        
                    </div>
                </li>
                {% endfor %}
                {% else %}
                <li style="margin: 30px">
                    <div class="notification-content">
                        <p class="notification-text" style="margin: 5px; text-align: center">No new notifications as of this time, please check back later, thanks.</p>
                    </div>
                </li>
            
            {% endif %}
                
            </ul>
        </div>
    </main>
	
    {% include "expenses_tracker/include/footer.html" %}
{% endblock %}