{% extends "base.html" %}

{% load static %}

{% block page_title %}
    Track Finance - Profile Details
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'expenses_tracker/profile.css' %}">
{% endblock %}

{% block content %}
    
    <header>
        <h1>User Profile</h1>
    </header>

    <main>
        <div class="container">
            <div class="profile-section">
                <div class="profile-header">
                    <div class="profile-picture">
                        <img src="{{ profile.image.url }}" alt="Profile Picture">
                    </div>
                    <div class="user-details">
                        <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                        <p>{{ profile.occupation }}</p>
                    </div>
                </div>

                <ul class="user-info">
                    <li><strong>City:</strong> {{ profile.city }}</li>
                    <li><strong>Country:</strong> {{ profile.country }}</li>
                    <li><strong>Email:</strong> {{ profile.user.email }}</li>
                    <li><strong>Phone:</strong> {{ profile.phone_number }}</li>
                </ul>
            </div>
        </div>
    </main>
    
    {% include "expenses_tracker/include/footer.html" %}

{% endblock %}