{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Track Finance - Recurring-transactions
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'expenses_tracker/recurring-transactions.css' %}">
{% endblock %}

{% block content %}
    
    <header>
        <h1>Recurring Transactions</h1>
    </header>
        <main>
            <section class="transaction-list">
                <div class="container">
                    <ul>
                    <h2>Delete recurring_transactions bottom</h2>
                    <p>Filter-coming soon</p>
                        {% for field in recurring_transactions %}
                        <li class="list_display">
                            <div class="transaction-info">
                                <h2>{{ field.transaction_title|title }}</h2>
                                <hr>
                                <p>Amount: <strong>${{ field.amount|floatformat:"2g" }}</strong></p>
                                <p>Category: {{ field.category }}</p>
                                <p>Frequency: {{ field.frequency }}</p>
                            </div>
                            <div class="transaction-date">
{#                                <p>Next Occurrence: {{ field.next_occurrence|date:"D, d M Y | H:i:s" }}</p>#}
                                <p>Next occurrence in: {{ field.next_occurrence|timeuntil }}</p>
                            </div>
                        </li>
                        {% endfor %}
                        <!-- Add more recurring transactions as needed -->
                    </ul>
                </div>
            </section>
        </main> 
    
    {% include "expenses_tracker/include/footer.html" %}

{% endblock %}