{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'expenses_tracker/signup.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <header>
        <h1>Sign Up / Register</h1>
    </header>

    <main>
        <div class="container">
            <div class="form-container">
                <form  method="POST" class="signup-form">
                    {% csrf_token %}
                
                    
                
                    <div class="form-group">
                    
{#                        {% if field.errors %} error" {% endif %}#}
                        <label for="username">Username:</label>
                    
                        {% if error_message %}
                            <div class="error">{{ error_message }}</div>
                        {% endif %}
                    
                        <input type="text" id="username" name="username" placeholder="Enter your username" required>
                    
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" placeholder="Enter an email address" required>
                    
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter a password" required>
                    
                        <label for="confirm-password">Confirm Password:</label>
                        
                        {% if password_not_confirm  %}
                            <div class="error">{{ password_not_confirm }}</div>
                        {% endif %}
                            
                        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password" required>
                    
                        {% for field in form %}
                            {% if field.label in fields_to_display %}
                                {{ field.label_tag }}
                                {{ field.errors }}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    
{#                          {% for field in form %}#}
{#                            {% if field.errors %}#}
{#                                {% for error in field.errors %}#}
{#                                    <div class="error">{{ error }}</div>#}
{#                                    {{ field.label_tag }}#}
{#                                    {{ field }}#}
{#                                {% endfor %}#}
{#                            {% else %}#}
{#                                {% if field.label in fields_to_display %}#}
{#                                    {{ field.label_tag }}#}
{#                                    {{ field }}#}
{#                                {% endif %}#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
                   
                    </div>
                
                    <button type="submit">Sign Up</button>
                
                    <hr>
                    <p><a href="{% url 'login_page' %}">Already have an Account?</a></p>
                    <p>By signing up, you agree with Track Finance's 
                        <a href="{% url 'terms_of_service_page' %}">Terms & Conditions</a> and 
                        <a href="{% url 'privacy_policy_page' %}">Privacy Policy.</a></p>
                </form>
            </div>
        </div>
    </main>

    <footer>
    <div class="footer-links">
        <a href="{% url 'contact_us_page' %}">Contact Us</a>
    </div>
    <p>&copy; 2024 Mitchel Ani. All rights reserved.</p>
</footer>
</body>
</html>
