{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'expenses_tracker/signup.css' %}">
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'expenses_tracker/images/39050859.jpg' %}"
    />
    <title>Sign Up</title>
</head>
<body>
    <header>
        <h1>Sign Up / Register</h1>
    </header>

    <main>
        <div class="container">
            <div class="form-container">
                <form id="signup-form" method="POST" class="signup-form">
                    {% csrf_token %}
                
                    <div class="form-group">
                    
                        {{ user_form.username.label_tag }}
                        {{ user_form.username.errors }}
                        {{ user_form.username }}
                    
                        {{ user_form.email.label_tag }}
                        {{ user_form.email.errors }}
                        {{ user_form.email }}
                    
                        {{ user_form.password.label_tag }}
                        {{ user_form.password.errors }}
                        {{ user_form.password }}
                    
                        <div style="color: red" id="password-match-message"></div>
                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" id="confirm-password" name="confirm-password" placeholder="Enter the same password as before" required>
                        
                    
                        {% for field in form %}
                            {% if field.label in fields_to_display %}
                                {{ field.label_tag }}
                                {{ field.errors }}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                   
                    </div>
                
                    <button type="submit" id="signup-button" class="disabled-button" disabled>Sign Up</button>
                
                    <hr>
                    <p><a href="{% url 'login_page' %}">Already have an Account?</a></p>
                    <p>By signing up, you agree with Track Finance's 
                        <a href="{% url 'terms_of_service_page' %}">Terms & Conditions</a> and 
                        <a href="{% url 'privacy_policy_page' %}">Privacy Policy.</a></p>
                </form>
            </div>
        </div>
        <script>
            const passwordInput = document.getElementById('id_password');
            const confirmPasswordInput = document.getElementById('confirm-password');
            const passwordMatchMessage = document.getElementById('password-match-message');
            const signUpButton = document.getElementById('signup-button');
            const signUpForm = document.getElementById('signup-form');
        
            function checkPasswordMatch() {
                if (passwordInput.value !== confirmPasswordInput.value) {
                    passwordMatchMessage.textContent = 'Passwords do not match';
                    signUpButton.disabled = true;
                    signUpButton.classList.add('disabled-button');
                } else {
                    passwordMatchMessage.textContent = '';
                    signUpButton.disabled = false;
                    signUpButton.classList.remove('disabled-button');
                }
            }
        
            confirmPasswordInput.addEventListener('input', checkPasswordMatch);
        
            signUpForm.addEventListener('submit', function(event) {
                if (passwordInput.value !== confirmPasswordInput.value) {
                    passwordMatchMessage.textContent = 'Passwords do not match';
                    signUpButton.disabled = true;
                    signUpButton.classList.add('disabled-button');
                    event.preventDefault(); // Prevent form submission
                }
            });
        </script>
    </main>

    <footer>
    <div class="footer-links">
        <a href="{% url 'contact_us_page' %}">Contact Us</a>
    </div>
    <p>&copy; 2024 Mitchel Ani. All rights reserved.</p>
</footer>
</body>
</html>
