
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: slategray;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    margin-top: auto; /* Push main content to the bottom */
}


.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

h1 {
    margin: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.transaction-list {
    padding: 40px 0;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

.list_display {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden; /* Fix overflow issues */
    transition: transform 0.3s;
}

li:hover {
    transform: scale(1.02);
}

.transaction-info {
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.transaction-info h2 {
    color: #333;
}

.transaction-info p {
    font-size: 18px;
    color: #007bff;
    /*#28a745*/
    margin: 10px 0;
}

.transaction-info span {
    font-size: 18px;
    margin: 10px 0;
}

.transaction-date {
    background-color: #2c3e50;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space items horizontally */
}

.transaction-date p {
    /*color: #fff;*/
    margin: 0;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        /*margin-right: 15px;*/
    }

}







