
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: slategray;
    color: #fff;
}

header {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
}

main {
    padding: 20px;
    margin-top: auto; /* Push main content to the bottom */
    flex: 1
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/*tbody tr:nth-child(even) {*/
/*    background-color: #f2f2f2;*/
/*}*/

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


