
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: slategray;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h1 {
    margin: 0;
}

main {
    flex: 1;
    margin-top: auto; /* Push main content to the bottom */
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

.overview-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: honeydew;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s; /* Add transition for scale effect */
}

.card:hover {
    transform: scale(1.02);
}

.recent-transactions:hover {
    transform: scale(1.02);
}

.recent-transactions {
    background-color: whitesmoke;
    border-top: 1px solid #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    /*width: 50%;*/
}

.recent-transactions h2 {
    color: #333;
}

.recent-transactions li {
    /*color: #28a745;*/
    color: #007bff;
}

footer:hover {
    transform: scale(1.02);
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.container1 {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .container1 {
        width: 90%;
    }
}




