
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}


.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2c3e50; /* Dark Blue-Grey */
    padding-top: 20px;
    transition: 0.5s;
}

.sidebar h2 {
    color: #ecf0f1; /* Light Grey */
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 15px;
    font-size: 18px;
    color: #ecf0f1;
    transition: 0.3s;
}

.sidebar li a {
    text-decoration: none;
    background-color: #2c3e50; /* Dark Blue-Grey */
    color: #ecf0f1;
}

.sidebar li a:hover {
    background-color: #34495e; /* Darker Blue-Grey */
}

.dropdown-content {
    display: none;
    background-color: #34495e; /* Darker Blue-Grey */
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #2c3e50; /* Dark Blue-Grey */
    transition: 0.3s;
}

.dropdown-content a {
    color: #ecf0f1;
    padding: 12px 16px;
    display: block;
    border-bottom: 1px solid #2c3e50; /* Dark Blue-Grey */
    transition: 0.3s;
}

.dropdown-content a:hover {
    background-color: #2c3e50; /* Dark Blue-Grey */
    border-left: 3px solid #3498db; /* Highlight color - change as needed */
    padding-left: 13px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border: 1px solid #ecf0f1; /* Light Grey */
}

.content {
    margin-left: 250px;
    padding: 16px;
    transition: margin-left 0.5s;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar ul {
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    .sidebar li {
        padding: 15px 0;
    }

    .content {
        margin-left: 0;
    }

    div .sidebar2{
        width: 70%;
        text-align: center;
        padding: 30px;
        position: relative;
        margin-bottom: 30px;
        border-radius: 8px;
        margin-top: 0;
        box-shadow: none;

    }

    div .filter_header {
        padding: 5px;
        margin-bottom: 8px;
    }
    div .filter-options,
    div .order-options {
        margin-bottom: 5px;
    }

}

@media screen and (max-width: 900px) {
    div .sidebar2{
        width: 70%;
        text-align: center;
        padding: 30px;
        position: relative;
        margin-bottom: 30px;
        border-radius: 8px;
        margin-top: 0;
        box-shadow: none;

    }

    div .filter_header {
        padding: 5px;
        margin-bottom: 8px;
    }
    div .filter-options,
    div .order-options {
        margin-bottom: 5px;
    }
}



.sidebar2 {
    width: 15%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-top: 100px;
    margin-right: 20px;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.5s;
    z-index: 1;
}



.filter_header {
    margin-bottom: 10px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    background-color: #2c3e50;
    padding: 10px;
    border-radius: 8px;

}

.filter-options,
.order-options {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.filter_button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.filter_button:hover {
    background-color: #2980b9;
}

.reset {
    color: #2980b9;
    font-weight: bold;
}

.reset:hover {
    transform: scale(1.02);
    color: darkred;
}

footer:hover {
    transform: scale(1.02);
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.delete-button form {
    margin: 0; /* Remove default margin */
}

.delete-button button:hover{
    transform: scale(1.10);
    background-color: darkred;
}
.delete-button button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.delete-button button img {
    width: 30px; /* Adjust the size of the delete icon */
    height: 24px;
}

.date-info {
    text-align: right; /* Align text to the right */
}

.date-info p {
    margin: 0; /* Remove default margin */
}

.errorlist {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  color: #680000;
}

.errors input {
  border-color: #680000;
  background-color: #fde3e3;
}

.errors label {
  color: #680000;
}

.error {
  color: #680000;
  /*margin: 0.5rem 0;*/
  padding: 0;
  margin-bottom: 6px;
}

.container li {
    list-style: none;
}

.notification-text {
    font-size: 18px;
    color: #333;
    margin: 0;
    list-style: none;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    padding: 15px;
}








