{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "sidebar.css" %}">
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'expenses_tracker/images/39050859.jpg' %}"
    />

    {% block css_file %}{% endblock %}
    <title>{% block page_title %} Track Expenses {% endblock %}</title>

</head>
<body>

    <div class="sidebar">
        <h2>Track Finance</h2>
        <ul>
            <li class="dropdown">
                <a href="#" class="dropbtn">Dashboard</a>
                <div class="dropdown-content">
                    <a href="{% url 'overview_page' %}">Overview</a>
                    <a href="{% url 'home' %}">Home</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Transactions</a>
                <div class="dropdown-content">
                    <a href="{% url 'all_transactions_page' %}">All Transactions</a>
                    <a href="{% url 'add_transactions_page' %}">Add Transaction</a>
                    <a href="{% url 'categories_page' %}">Categories</a>
                    <a href="{% url 'recurring_transactions_page' %}">Recurring Transactions</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Budget</a>
                <div class="dropdown-content">
                    <a href="{% url 'budget-overview_page' %}">Budget Overview</a>
                    <a href="{% url 'add_budget_page' %}">Add Budget</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Income</a>
                <div class="dropdown-content">
                    <a href="{% url 'income_data_page' %}">Income Data</a>
                    <a href="{% url 'add_income_page' %}">Add Income</a>
                    <a href="#">Categories</a>
                    <a href="#">Recurring Income</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Reports</a>
                <div class="dropdown-content">
                    <a href="{% url 'expenses_report_page' %}">Expense Reports</a>
                    <a href="{% url 'income_report_page' %}">Income Reports</a>
                    <a href="{% url 'expense_reports_form_page' %}">Expense Report Form</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Goals</a>
                <div class="dropdown-content">
                    <a href="#">Savings Goals</a>
                    <a href="#">Debt Repayment</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Settings</a>
                <div class="dropdown-content">
                    <a href="{% url 'profile_page' %}">Profile</a>
                    <a href="{% url 'notification_page' %}">Notifications</a>
                    <a href="#">Exchange Rate</a>
                    <a href="{% url 'account_settings_page' %}">Account Settings</a>
                </div>
            </li>

            <li><a href="{% url 'contact_us_page' %}">Contact Support</a></li>

            {% if user_status %}
                <li><a href="{% url 'logout' %}">Logout/Sign Out</a></li>
            {% endif %}
        </ul>
    </div>


    <div class="content">

        {% block content %} {% endblock %}
    </div>


</body>

</html>