/* Form Container */

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 3px;
    text-align: center;
    margin-bottom: 18px;
}

.form-container {
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Inputs */
.form-container input[type="date"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Submit Button */
.form-container button {
    background-color: #3498db;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Submit Button Hover Effect */
.form-container button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 576px) {
    .form-container {
        max-width: 400px;
    }
}

/*@media screen and (max-width: 900px) {*/
/*    .form-container {*/
/*        max-width: 400px;*/
/*    }*/
/*}*/

.reset {
    color: #2980b9;
    font-weight: bold;
}

.reset:hover {
    transform: scale(1.02);
    color: darkred;
}

.form-container .toggle-switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
    }

    .form-container .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .form-container .toggle-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        border-radius: 34px;
        transition: .4s;
    }

    .form-container .toggle-slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        transition: .4s;
    }

    .form-container input:checked + .toggle-slider {
        background-color: #4caf50;
    }

    .form-container input:checked + .toggle-slider:before {
        transform: translateX(26px);
    }


