
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: slategray;
    color: #495057;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    width: 100%;
}

.form-container {
    max-width: 400px;
    width: 100%;
}

.login-form {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: snow;
}

form {
    transform: scale(1.10);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer:hover {
    transform: scale(1.02);
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.errorlist {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  color: #680000;
}

.errors input {
  border-color: #680000;
  background-color: #fde3e3;
}

.errors label {
  color: #680000;
}

.error {
  color: #680000;
  /*margin: 0.5rem 0;*/
  padding: 0;
  margin-bottom: 6px;
}

