
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: slategray;
    color: #495057;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    margin-top: auto; /* Push main content to the bottom */
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

h1 {
    margin: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.transaction-list {
    padding: 40px 0;
}

ul {
    list-style: none;
    padding: 0;
}

.list_display {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.3s;
}

li:hover {
    transform: scale(1.02);
}

.transaction-info {
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.transaction-info h2 {
    color: #333;
}

.transaction-info p {
    font-size: 18px;
    color: #007bff;
    margin: 10px 0;
}

.transaction-date {
    background-color: #2c3e50;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space items horizontally */
}

.transaction-date p {
    color: #fff;
    margin: 0;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

footer:hover {
    transform: scale(1.02);
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.delete-button form {
    margin: 0; /* Remove default margin */
}

.delete-button button:hover{
    transform: scale(1.10);
}
.delete-button button {
    background-color: antiquewhite;
    border: none;
    cursor: pointer;
    /*transparent*/
}

.delete-button button img {
    width: 30px; /* Adjust the size of the delete icon */
    height: 24px;
}

.date-info {
    text-align: right; /* Align text to the right */
}

.date-info p {
    margin: 0; /* Remove default margin */
}




