{% load static %}
<section class="transaction-list">
    <div class="container">
        <ul>
        {% if recurring_transactions_incomes %}
            {% for field in recurring_transactions_incomes %}
            <li class="list_display">
                <div class="transaction-info">
                    <h2>{{ field.transaction_title|title }}</h2>
                    <hr>
                    <p>Amount: <strong>{{ user_currency }}{{ field.amount|floatformat:"2g" }}</strong></p>
                    <p>Category: {{ field.category }}</p>
                    <p>Frequency: {{ field.frequency }}</p>
                </div>
                <div class="transaction-date">
                    <div class="delete-button">
                        <form method="POST" action="{% url url_recur %}">
                            {% csrf_token %}
                            <input type="hidden" name="recurring_transaction_id" value="{{ field.id }}">
                            <button type="submit"><img src="{% static 'expenses_tracker/images/delete-189.png' %}" alt="Delete"></button>
                        </form>
                    </div>
                    <div class="date-info">
                        {% if field.next_occurrence.date > thirty_days_later.date %}
                            <p> Next occurrence: {{ field.next_occurrence.date }}</p>
                        {% else %}
                            <p>Next occurrence in: {{ field.next_occurrence|timeuntil }}</p>
                        {% endif %}
                        
                    </div>
                </div>
                
            </li>
            {% endfor %}
        {% else %}
        <li style="margin: 30px">
            <div class="notification-content">
                <p class="notification-text" style="margin: 10px; text-align: center">There are no {{ trans }} to display at the moment. Please add {{ add_trans }} data and check back later. Thank you.</p>
            </div>
        </li>
        {% endif %}
        </ul>
    </div>
</section>